 MONGO_URI=<your-mongodb-uri>
 TWILIO_ACCOUNT_SID=<your-twilio-sid>
 TWILIO_AUTH_TOKEN=<your-twilio-auth-token>
 TWILIO_PHONE_NUMBER=<your-twilio-phone-number>
 SENDGRID_API_KEY=<your-sendgrid-api-key>
 SENDGRID_FROM=<your-sendgrid-email>
 RABBIT_URL=<your-rabbitmq-uri>
 SOCKET_URL=<your-socket-url> # e.g., http://localhost:5000
 NOTIF_API_KEY=<your-notification-api-key>

